@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tableActionsIcon {
    font-size: 1.5rem;
  }
  .tableActionsEditIcon {
    color: var(--clr-primary);
  }
  .tableActionsDeleteIcon {
    color: rgb(245, 34, 34);
  }
}

@layer base {
  :root {
    --clr-primary: #f59031;
    --clr-secondary: hsl(31, 91%, 95%);
    --ff-primary: Roboto, sans-serif;

    --fs-700: 2.25rem;
    --fs-600: 2rem;
    --fs-500: 1.5rem;
    --fs-550: 1.25rem;
    --fs-400: 1rem;
    --fs-300: 0.875rem;
    --fs-200: 0.75 rem;

    --fw-400: 400;
    --fw-500: 500;
  }
  html {
    font-family: Roboto, sans-serif;
  }
  body {
    background: #f7f7f7;
  }

  h1 {
    @apply text-7xl;
  }
  h2 {
    @apply text-5xl;
  }
  h4 {
    @apply text-3xl;
  }
  table {
    @apply border-collapse shadow-md min-w-[60%] rounded-md;
  }
  thead {
    @apply shadow-md h-12 px-2;
  }
  th {
    @apply uppercase px-2 lg:px-3 lg:py-2 text-sm font-bold text-left;
  }
  td {
    @apply lg:px-3 lg:py-2 px-2 py-1;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}

@layer utilities {
  .sidebar-menu-option {
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.44);
    border-bottom: 1px solid rgb(227, 223, 223);
    padding: 0.1rem 2rem;
    cursor: pointer;
  }
  .sidebar-menu-option:hover,
  .sidebar-menu-option:focus-visible {
    background-color: #f6c597;
    transition: ease-in 200ms;
  }

  /* utility classes  */
  .text-primary {
    color: var(--clr-primary);
  }
  .bg-primary {
    background: var(--clr-primary);
  }
  .bg-secondary {
    background-color: var(--clr-secondary);
  }
  .border-primary {
    border-bottom: 2px solid var(--clr-primary);
  }

  .textSize-500 {
    font-size: var(--fs-500);
  }
  .textSize-400 {
    font-size: var(--fs-400);
  }
  .textSize-300 {
    font-size: var(--fs-300);
  }
  .textSize-200 {
    font-size: var(--fs-500);
  }
  .textSize-550 {
    font-size: var(--fs-550);
  }
  .text-gray-primary {
    @apply text-gray-700;
  }
  .text-gray-secondary {
    color: rgba(0, 0, 0, 0.65);
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
